@media screen and (max-width: 1230px) {
    .create-ad{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .box-image{
        padding: 0 40px;
    }
    .line-bar {
        display: block;
        padding: 10px 20px;
    }
    .line-bar a {
        color: rgb(87, 34, 34);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .line-bar #myLinks {
        display: none;
        position: absolute;
        margin-top: 45px;
        width: 100%;
        left: 0;
        padding: 50px 0 30px 30px;
        background-color: rgb(255, 255, 255);

      }
      .line-bar a.icon {
        padding: 0;  
         background: rgb(242, 242, 242); 
        display: block;
        position: relative;
        right: 0;
        top: 0;
      }
      .line-bar a:hover{
          color: rgb(147, 147, 147);
      }
      .create-ads{
          margin:  30px 0;
          width: fit-content;
      }
       .create-ads li {
        list-style: none;
        color: #000;
    }
        .create-ads li a{
      color: #000;
      padding: 12px 60px;
      border-radius: 50px 50px;
      border: 2px solid lightcoral;
      text-decoration: none;
    }
     .create-ads a:hover{
    color: #fff;
    background-image: linear-gradient(to bottom right, rgba(84, 3, 109, 0.973), rgb(211, 8, 76), rgb(252, 84, 33));
    }
    .header .nav-container {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 18px 0;
        background: #fff;    
      }

}
/* --------------------------------------------- */
@media screen and (max-width: 1024px) {
    .caption-style-4{
        width: 82%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .caption-style-4 img{
        width: 335px;
        height: 335px;
	 }
    .caption-style-4 .blur{
        height: 335px;
		width: 100%;
        position: absolute;
	}
  .story-images .story-header, .second-story-gallery .story-header{
    margin: 0 auto;
    width: 80%;
    /* background-color: antiquewhite; */
    }
    .sec2-footer a{
      font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
  .caption-style-4{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
      .container-a4{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .responsive-sec-story {
    padding: 0 5px;
    height: auto;
    width: 290px;
    transition: width 1s, height 1s;
  /* background-color: tomato; */
    }
    .text{
      font-size: 20px;
    }
      .responsive-sec-story .gallery:hover {
      cursor: pointer;
      width: 305px;
    }
    .sec1-footer .list-footer .list1-footer a, .list2-footer a {
    text-decoration: none;
    padding: 12px 8px;
    font-weight: bold;
    font-size: 15px
  }
    .caption-style-4 img{
        width: 315px;
        height: 315px;
   }
    .caption-style-4 .blur{
        height: 315px;
    width: 100%;
        position: absolute;
  }
    .caption-style-4 .caption-text h1{
    text-transform: uppercase;
    font-size: 20px;
  }
      .sec2-footer .social-icon a{
      font-size: 10px;
      display: flex;
      flex-wrap: wrap;
    }
    .sec2-footer .social-icon a {
      text-decoration: none;
      padding: 15px 5px;
    }
    .footer-content .list-footer{
      display: grid;
      grid-template-columns: 15% 60% 25%;
      margin: 40px 0;
    }
    .linear-bg-btn a, .linear-bg-btn2 a{
      padding: 12px 40px;
      font-size: 14px;
    }
}
@media screen and (max-width: 648px) {
    .caption-style-4{
        width: 60%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .sec1-footer .list-footer .list1-footer{
      margin: 40px 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-right: 1px solid rgb(23, 19, 19);
    }
    .footer-content .list-footer{
      display: grid;
      grid-template-columns: 15% 50% 25%;
      margin: 20px 0;
    }
    .list2-footer h2{
      font-size: 8px;
    }
    .text{
      font-size: 18px;
    }
    .sec2-dropdown{
      display: none;
    }
      .story-images .story-header h2, .second-story-gallery .story-header h2{
        font-size: 30px;
    }
    .story-images .story-header p, .second-story-gallery .story-header p{
        font-size: 14px;
    }
}
@media screen and (max-width: 513px){
  .sec2-footer .social-icon a{
    font-size: 10px;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 15px 3px;
  }
  .text{
    font-size: 15px;
  }
  .sec2-footer .social-icon{
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }
  .footer-content .sec2-footer hr{
    margin: 0 7%;
    width: 85%;
  }
  .caption-style-4 .caption-text h1{
		text-transform: uppercase;
		font-size: 17px;
	}
}
@media screen and (max-width: 425px) {
  .footer-content .list-footer{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .sec1-footer .list-footer .list1-footer a, .list2-footer a {
    text-decoration: none;
    padding: 8px 8px;
    font-weight: bold;
    font-size: 12px
  }
  .footer-content .list-footer .list1-footer, .list2-footer {
    margin: 10px 15px;
    border-right: none;
  }
  .list2-footer h5{
    padding-left: 10px;
  }
  .sec2-footer .social-icon a{
    font-size: 6px;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 15px 3px;
  }
  .sec2-footer .social-icon{
    width: 55%;
    text-align: center;
    margin: 0 auto;
  }
  .footer-content .sec2-footer hr{
    width: 80%;
  }
  .caption-style-4 .caption-text h1{
		text-transform: uppercase;
		font-size: 14px;
	}
  .caption-style-4 img{
    width: 300px;
    height: 300px;
  }
    .caption-style-4 .blur{
        height: 300px;
    width: 100%;
        position: absolute;
    }
    .caption-style-4{
      width: 90%;
      display: grid;
      grid-template-columns: 1fr;
    }
    .linear-bg h1{
      font-size: 15px;
      padding: 8px;
  }
  .linear-bg p{
    font-size: 12px;
    padding: 8px;
  }
  .linear-bg-btn a, .linear-bg-btn2 a{
    padding: 10px 30px;
    font-size: 12px;
  }
  .linear-bg-btn2 {
    height: 100px;
  }
  .linear-bg-btn1 {
    height: 50px;
  }
  .desc p {
    font-size: 8px;
  }
  .desc h3{
    font-size: 5px;
  }
  .story-images .story-header h2, .second-story-gallery .story-header h2{
    font-size: 27px;
}
.story-images .story-header p, .second-story-gallery .story-header p{
    font-size: 11px;
}
}

@media screen and (max-width: 320px) {
  .sec2-footer .social-icon a{
    font-size: 5px;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 15px 3px;
  }
  .linear-bg p{
    font-size: 10px;
    padding: 8px;
  }
  .story-images .story-header h2, .second-story-gallery .story-header h2{
    font-size: 22px;
}
.story-images .story-header p, .second-story-gallery .story-header p{
    font-size: 10px;
}
}